In [1]:
from os import (
    getcwd,
)
from os.path import (
    join,
)
from json import (
    loads,
)

from flatten_json import flatten

In [2]:
pwd = getcwd()
#datadir = join(pwd, 'data/')
path = join(pwd, 'data.json')
f = open(path)
data = loads(f.read())

In [5]:
data

{'year': 1990,
 'movies': [{'name': 'A', 'director': 'AB'},
  {'name': 'B', 'actor': 'C'},
  {'name': 'D', 'director': 'Director'}],
 'extras': [{'A': {'u': 'U'}},
  {'B': {'v': 'V'}},
  {'A': {'u': 'W'}, 'B': {'v': 'X'}}],
 'others': {'c': 'C', 'd': {'e': 'E'}}}

In [3]:
result = flatten(data)

In [4]:
result

   year name  director actor A.u B.v  c d.e
0  1990    A        AB         U      C   E
1  1990    A        AB             V  C   E
2  1990    A        AB         W   X  C   E
3  1990    B               C   U      C   E
4  1990    B               C       V  C   E
5  1990    B               C   W   X  C   E
6  1990    D  Director         U      C   E
7  1990    D  Director             V  C   E
8  1990    D  Director         W   X  C   E